$black: #222222;
$device-xs: 540px;
$device-sm: 768px;
$device-md: 992px;
$device-lg: 1200px;

.left{float: left;}
.hide {display: none;}

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to bottom right, #212b2d, #2f383d);
}
#main{
  display: none;
}

nav {
  background: $black;
  width: 100%;
  float: left;
  padding: 0 10%;
  height: 100px;
  position: fixed;
  transition: height ease-in 0.8s;
  div{
    margin-top: 15px;
  }
  h1 {
    color: #f5f5f5;
  }
  ul {
    margin-top: 25px;
    font-size: 1.5em;
    li {
      display: inline-block;
      margin-right: 5px;
      text-align: right;
      a {
        color: #f3f3f3;
        &:hover {
          border-bottom: 4px;
          color: #737373;
        }
      }
    }
  }
}

#big-input{
  position: fixed;
  top: 100px;
  width: 80%;
  background: #ffffff;
  padding: 0 10%;
  height: 50px;
  transition: ease-out 0.5s;
  input{
    padding: 10px 0;
    border:  0px;
    transition: ease-in 0.2s;
    width: 91%;
    &::-webkit-input-placeholder{
      font-size: 1em;
    }
  }
  i{
    margin-right: 1em;
    margin-top: 0.5em;
    font-size: 1.5em;
  }
  .btn-search{
    background: none;
    border: none;
    transition: ease-in  0.5s;
    &:hover{
      transform: rotate(90deg);
      cursor: pointer;
    }
  }
}
#intro{
  img{
    width: 100%;
  }
}
#backhide{
  img{
    width: 100%;
  }
}
article {
  color: #ffffff;
  padding-top:20%;
  h2{
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
  }
  .year{
    display: block;
  }
}

aside {
  button {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
    background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color:#ededed;
    display:inline-block;
    cursor:pointer;
    color:#3a8a9e;
    font-family:Arial;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
    &:hover {
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
      background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
      background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
      background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
      background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
      background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
      background-color:#bab1ba;
    }
    &:active {
      position:relative;
      top:1px;
    }
  }
  button:hover i.fa-heart{
    color: indianred;
  }
}
@keyframes pulse {
  0%{
    font-size: 1.5em;
  }
  100%{
    font-size: 2em;
  }
}
footer{
  text-align: center;
  background: #222222;
  color: #f3f3f3;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: 300;
  font-style: italic;
}

.loader{
  display: none;
  text-align: center;
  margin-top: 8%;
}
.main{
  display: none;
}
.error{
  color: red;
  text-align: center;
}
.error>div>h2{
  padding-top: 8%;
}
.flex-container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 1em;

  @media (min-width: $device-xs) {
    max-width: $device-xs;
  }

  @media (min-width: $device-sm) {
    max-width: $device-sm;
  }

  @media (min-width: $device-md) {
    max-width: $device-md;
  }

  @media (min-width: $device-lg) {
    max-width: $device-lg;
  }
}

.flex-row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.flex-row--align-v-center {
  align-items: center;
}

.flex-row--align-v-bottom {
  align-items: flex-end;
}

.flex-row--align-h-center {
  justify-content: center;
}

.flex-row--align-h-right {
  justify-content: flex-end;
}

.flex-row--reverse {
  flex-direction: row-reverse;
}

@for $i from 1 through 12 {
  .flex-col-xs-#{$i},
  .flex-col-sm-#{$i},
  .flex-col-md-#{$i},
  .flex-col-lg-#{$i} {
    box-sizing: border-box;
    width: 100%;
  }

  .flex-col-xs-#{$i} {
    @media (min-width: $device-xs) {
      width: calc(100% * (#{$i} / 12));
    }
  }

  .flex-col-sm-#{$i} {
    @media (min-width: $device-sm) {
      width: calc(100% * (#{$i} / 12));
    }
  }

  .flex-col-md-#{$i} {
    @media (min-width: $device-md) {
      width: calc(100% * (#{$i} / 12));
    }
  }

  .flex-col-lg-#{$i} {
    @media (min-width: $device-lg) {
      width: calc(100% * (#{$i} / 12));
    }
  }
}
