.left {
  float: left; }

.hide {
  display: none; }

/*Print div hide default*/
#to_print {
  display: none; }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #2f383d; }

#main {
  display: none; }

header {
  position: fixed;
  top: 0;
  width: 100%; }

nav {
  transition: height ease-in 0.8s; }
  nav div {
    margin-top: 15px; }
  nav h1 {
    color: #f5f5f5; }
  nav ul {
    margin-top: 25px;
    font-size: 1.5em; }
    nav ul li {
      display: inline-block;
      margin-right: 5px;
      text-align: right; }
      nav ul li a {
        color: #f3f3f3; }
        nav ul li a:hover {
          border-bottom: 4px;
          color: #737373; }

.nav, nav, .nav_user {
  background: #222222;
  width: 100%;
  float: left;
  padding: 0 10%;
  height: 120px; }

.nav_user {
  color: #ffffff;
  padding-top: 0.5em; }
  .nav_user #user {
    font-size: 1.1em;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 0.6em;
    padding-left: 5px; }

#big-input {
  position: fixed;
  top: 100px;
  width: 80%;
  background: #ffffff;
  padding: 0 10%;
  height: 50px;
  transition: ease-out 0.8s; }
  #big-input input {
    padding: 10px 0;
    border: 0px;
    width: 91%;
    transition: ease-out 1s; }
  #big-input:focus {
    padding: 20px 0; }
  #big-input i {
    margin-right: 1em;
    margin-top: 0.5em;
    font-size: 1.5em; }
  #big-input .btn-search {
    background: none;
    border: none;
    transition: ease-in  0.5s; }
    #big-input .btn-search:hover {
      transform: rotate(90deg);
      cursor: pointer; }

#intro img {
  width: 100%; }

.intro-txt {
  color: #fff;
  font-size: 2em;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  position: relative;
  top: 200px; }

#backhide img {
  width: 100%; }

article {
  color: #ffffff;
  padding-top: 25%; }
  article h2 {
    margin: 0;
    font-weight: 600;
    text-transform: uppercase; }
  article .year {
    display: block; }

aside {
  padding-left: 2.5em; }
  aside h3 {
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase; }
  aside .favListe dt {
    font-size: 0.9em;
    font-weight: 300; }
  aside .favListe dd {
    font-size: 0.8em;
    font-weight: 300;
    font-style: italic; }
  aside .favListe i {
    margin-right: 0.2em;
    color: #f4f4f4; }
  aside label {
    font-size: 0.8em; }
  aside button {
    margin-bottom: 1.5em;
    display: inline-block;
    cursor: pointer;
    color: #222222;
    text-decoration: none;
    white-space: nowrap;
    border: none;
    font-size: 1em;
    background: #ffffff;
    padding: 0.6em 1.5em;
    transition: ease-in 0.5s; }
    aside button:hover {
      background: #222222;
      color: #ffffff; }
    aside button i {
      color: #e50914; }
    aside button:active {
      position: relative;
      top: 1px; }
  aside #print_fav {
    margin-top: 1.5em; }
    aside #print_fav i {
      color: #00d373; }

@keyframes pulse {
  0% {
    font-size: 1.5em; }
  100% {
    font-size: 2em; } }
footer {
  text-align: center;
  background: #222222;
  color: #f3f3f3;
  padding: 10px 0;
  width: 100%;
  font-weight: 300;
  font-style: italic;
  bottom: 0;
  position: fixed; }

.loader {
  display: none;
  text-align: center;
  margin-top: 20%; }

.main {
  display: none; }

.error {
  color: red;
  text-align: center; }

.error > div > h2 {
  padding-top: 8%; }

.flex-container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 1em; }
  @media (min-width: 540px) {
    .flex-container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .flex-container {
      max-width: 768px; } }
  @media (min-width: 992px) {
    .flex-container {
      max-width: 992px; } }
  @media (min-width: 1200px) {
    .flex-container {
      max-width: 1200px; } }

.flex-row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em; }

.flex-row--align-v-center {
  align-items: center; }

.flex-row--align-v-bottom {
  align-items: flex-end; }

.flex-row--align-h-center {
  justify-content: center; }

.flex-row--align-h-right {
  justify-content: flex-end; }

.flex-row--reverse {
  flex-direction: row-reverse; }

.flex-col-xs-1,
.flex-col-sm-1,
.flex-col-md-1,
.flex-col-lg-1 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-1 {
    width: calc(100% * (1 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-1 {
    width: calc(100% * (1 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-1 {
    width: calc(100% * (1 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-1 {
    width: calc(100% * (1 / 12)); } }

.flex-col-xs-2,
.flex-col-sm-2,
.flex-col-md-2,
.flex-col-lg-2 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-2 {
    width: calc(100% * (2 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-2 {
    width: calc(100% * (2 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-2 {
    width: calc(100% * (2 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-2 {
    width: calc(100% * (2 / 12)); } }

.flex-col-xs-3,
.flex-col-sm-3,
.flex-col-md-3,
.flex-col-lg-3 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-3 {
    width: calc(100% * (3 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-3 {
    width: calc(100% * (3 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-3 {
    width: calc(100% * (3 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-3 {
    width: calc(100% * (3 / 12)); } }

.flex-col-xs-4,
.flex-col-sm-4,
.flex-col-md-4,
.flex-col-lg-4 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-4 {
    width: calc(100% * (4 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-4 {
    width: calc(100% * (4 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-4 {
    width: calc(100% * (4 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-4 {
    width: calc(100% * (4 / 12)); } }

.flex-col-xs-5,
.flex-col-sm-5,
.flex-col-md-5,
.flex-col-lg-5 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-5 {
    width: calc(100% * (5 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-5 {
    width: calc(100% * (5 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-5 {
    width: calc(100% * (5 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-5 {
    width: calc(100% * (5 / 12)); } }

.flex-col-xs-6,
.flex-col-sm-6,
.flex-col-md-6,
.flex-col-lg-6 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-6 {
    width: calc(100% * (6 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-6 {
    width: calc(100% * (6 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-6 {
    width: calc(100% * (6 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-6 {
    width: calc(100% * (6 / 12)); } }

.flex-col-xs-7,
.flex-col-sm-7,
.flex-col-md-7,
.flex-col-lg-7 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-7 {
    width: calc(100% * (7 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-7 {
    width: calc(100% * (7 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-7 {
    width: calc(100% * (7 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-7 {
    width: calc(100% * (7 / 12)); } }

.flex-col-xs-8,
.flex-col-sm-8,
.flex-col-md-8,
.flex-col-lg-8 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-8 {
    width: calc(100% * (8 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-8 {
    width: calc(100% * (8 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-8 {
    width: calc(100% * (8 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-8 {
    width: calc(100% * (8 / 12)); } }

.flex-col-xs-9,
.flex-col-sm-9,
.flex-col-md-9,
.flex-col-lg-9 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-9 {
    width: calc(100% * (9 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-9 {
    width: calc(100% * (9 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-9 {
    width: calc(100% * (9 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-9 {
    width: calc(100% * (9 / 12)); } }

.flex-col-xs-10,
.flex-col-sm-10,
.flex-col-md-10,
.flex-col-lg-10 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-10 {
    width: calc(100% * (10 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-10 {
    width: calc(100% * (10 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-10 {
    width: calc(100% * (10 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-10 {
    width: calc(100% * (10 / 12)); } }

.flex-col-xs-11,
.flex-col-sm-11,
.flex-col-md-11,
.flex-col-lg-11 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-11 {
    width: calc(100% * (11 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-11 {
    width: calc(100% * (11 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-11 {
    width: calc(100% * (11 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-11 {
    width: calc(100% * (11 / 12)); } }

.flex-col-xs-12,
.flex-col-sm-12,
.flex-col-md-12,
.flex-col-lg-12 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-12 {
    width: calc(100% * (12 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-12 {
    width: calc(100% * (12 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-12 {
    width: calc(100% * (12 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-12 {
    width: calc(100% * (12 / 12)); } }

@media (max-width: 540px) {
  #big-input {
    top: 220px; }
    #big-input input {
      width: 65%; }

  .nav_user #user_info {
    float: left; }
  .nav_user #logout {
    float: right; }

  .sign-out {
    margin-top: 0 !important; } }
@media (min-width: 992px) {
  #big-input input {
    width: 85%; } }
.overlay {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(34, 31, 31, 0.95);
  -webkit-mask-size: 175%;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  transition: 1s ease; }

.overlay.active {
  -webkit-mask-size: 250%;
  -webkit-mask-position: center 60%; }

.sign, .sign-in2, .signin-submit, .signin, .sign-out {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
  border: none;
  font-size: 1em;
  display: block;
  padding: 0.6em 1.5em;
  max-width: 130px; }

.sign-in2 {
  background-color: transparent; }

.signin-submit {
  float: right;
  margin-top: 1em;
  display: inline-block;
  background-color: transparent; }
  .signin-submit:hover {
    cursor: pointer; }

.signin {
  margin: 0 auto;
  width: 15%;
  text-align: center;
  top: 400px; }

.sign-out {
  display: block;
  margin: 0.5em 0;
  background: #e50914; }
  .sign-out:hover {
    cursor: pointer;
    opacity: 0.8; }

.active .signin {
  display: none; }

.signin:after,
.signin-submit:after {
  content: '';
  width: 5%;
  position: absolute;
  left: 95%;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: #fff; }

.signin:hover:after,
.signin-submit:hover:after {
  animation: hover 1.5s 1 both;
  cursor: pointer; }

.signin.animateout:after {
  animation: hover 0.75s 1 reverse; }

.signinform {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  transform: translateX(-50%) translateY(-50%); }

.fadeIn {
  opacity: 0; }

.signinform-field,
.signinform-field label,
.signinform-field input {
  display: block;
  width: 100%; }

.signinform-field {
  position: relative; }

.signinform-field label {
  color: #ccc;
  transition: all 0.3s ease-in-out;
  transform: translateY(2em);
  position: relative;
  z-index: -1; }

.signinform-field.focus label {
  transform: translateY(0); }

.signinform-field input {
  color: #fff;
  margin-bottom: 1em;
  background-color: transparent;
  border-style: solid;
  border-color: transparent transparent #eaeaea;
  border-width: 4px 0 4px 0;
  padding: 0.5em 0;
  font-size: 1em;
  box-sizing: border-box; }

.signinform-field.focus input {
  color: #fff;
  margin-bottom: 1em;
  background-color: transparent;
  border-style: solid;
  border-color: transparent; }

.signinform-field input:focus {
  outline: none; }

.signinform-field:before {
  content: '';
  width: 0;
  height: 4px;
  position: absolute;
  right: 100%;
  bottom: 0;
  background-color: #fff; }

.signinform-field.focus:before {
  animation: fieldFocus 1s 1 forwards; }

.active .signinform {
  display: block; }

.active .signin {
  animation: fadeIn 1s 1 backwards; }

.active .fadeIn {
  animation: fadeIn 1s 1s 1 forwards; }

.active .fadeIn:nth-of-type(2) {
  animation-delay: 2s; }

.active .fadeIn:nth-of-type(3) {
  animation-delay: 3s; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(-10%); } }
@keyframes questionSpin {
  0% {
    transform: rotate(0deg) scale(1); }
  50% {
    transform: rotate(380deg) scale(1.5); }
  100% {
    transform: rotate(360deg) scale(1); } }
@keyframes fieldFocus {
  0%,
  20% {
    width: 0%;
    right: 100%; }
  2%,
  6%,
  10% {
    opacity: 0; }
  4%,
  8%,
  12% {
    opacity: 1; }
  49% {
    width: 100%;
    right: 0; }
  55% {
    width: 0;
    right: 0;
    background-color: #fff; }
  56% {
    width: 0;
    background-color: #00d373; }
  100% {
    width: 100%;
    background-color: #00d373;
    right: 0; } }
@keyframes hover {
  0%,
  20% {
    width: 5%;
    position: absolute;
    left: 95%;
    top: 0;
    bottom: 0;
    z-index: -1; }
  4%,
  8%,
  12% {
    opacity: 1; }
  49% {
    width: 100%; }
  55% {
    width: 0;
    left: 0;
    background-color: #fff; }
  56% {
    width: 0;
    background-color: #00d373; }
  100% {
    width: 100%;
    background-color: #00d373;
    left: 0; } }
#loader {
  animation: loader 5s cubic-bezier(0.8, 0, 0.2, 1) infinite;
  height: 40px;
  width: 41px;
  position: relative;
  left: calc(50% - 20px); }

@keyframes loader {
  90% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(180deg); } }
#top {
  animation: top 5s linear infinite;
  border-top: 40px solid #00d373;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  height: 0px;
  width: 1px;
  transform-origin: 50% 100%; }

@keyframes top {
  90% {
    transform: scale(0); }
  100% {
    transform: scale(0); } }
#bottom {
  animation: bottom 5s linear infinite;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #00d373;
  border-left: 40px solid transparent;
  height: 0px;
  width: 1px;
  transform: scale(0);
  transform-origin: 50% 100%; }

@keyframes bottom {
  10% {
    transform: scale(0); }
  90% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
#line {
  animation: line 5s linear infinite;
  border-left: 1px dotted #00d373;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 40px;
  left: 40px; }

@keyframes line {
  10% {
    height: 40px; }
  100% {
    height: 40px; } }

/*# sourceMappingURL=app.css.map */
