.left {
  float: left; }

.hide {
  display: none; }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to bottom right, #212b2d, #2f383d); }

#main {
  display: none; }

.small {
  height: 200px; }

nav h1 {
  color: #f5f5f5; }
nav ul {
  margin-top: 25px;
  font-size: 1.5em; }
  nav ul li {
    display: inline-block;
    margin-right: 5px;
    text-align: right; }
    nav ul li a {
      color: #f3f3f3; }
      nav ul li a:hover {
        border-bottom: 4px;
        color: #737373; }

.nav, nav, .nav_user {
  background: #222222;
  width: 100%;
  float: left;
  padding: 0 10%;
  height: 200px; }

.nav_user {
  color: #ffffff; }

#big-input {
  background: #ffffff;
  justify-content: center;
  padding: 0 11%; }
  #big-input input {
    padding: 10px 0;
    border: 0px;
    transition: ease-in 0.2s;
    width: 91%; }
  #big-input:focus {
    padding: 20px 0; }
  #big-input i {
    margin-right: 1em;
    width: 2em; }

article {
  color: #ffffff;
  padding: 5em 0; }
  article h2 {
    margin: 0;
    font-weight: 600;
    text-transform: uppercase; }
  article .year {
    display: block; }

footer {
  text-align: center;
  background: #222222;
  color: #f3f3f3;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: 300;
  font-style: italic; }

#backhide {
  height: 90vh;
  overflow: hidden; }

.loader {
  display: none;
  text-align: center;
  margin-top: 8%; }

.main {
  display: none; }

.error {
  color: red;
  text-align: center; }

.error > div > h2 {
  padding-top: 8%; }

.flex-container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 1em; }
  @media (min-width: 540px) {
    .flex-container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .flex-container {
      max-width: 768px; } }
  @media (min-width: 992px) {
    .flex-container {
      max-width: 992px; } }
  @media (min-width: 1200px) {
    .flex-container {
      max-width: 1200px; } }

.flex-row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em; }

.flex-row--align-v-center {
  align-items: center; }

.flex-row--align-v-bottom {
  align-items: flex-end; }

.flex-row--align-h-center {
  justify-content: center; }

.flex-row--align-h-right {
  justify-content: flex-end; }

.flex-row--reverse {
  flex-direction: row-reverse; }

.flex-col-xs-1,
.flex-col-sm-1,
.flex-col-md-1,
.flex-col-lg-1 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-1 {
    width: calc(100% * (1 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-1 {
    width: calc(100% * (1 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-1 {
    width: calc(100% * (1 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-1 {
    width: calc(100% * (1 / 12)); } }

.flex-col-xs-2,
.flex-col-sm-2,
.flex-col-md-2,
.flex-col-lg-2 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-2 {
    width: calc(100% * (2 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-2 {
    width: calc(100% * (2 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-2 {
    width: calc(100% * (2 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-2 {
    width: calc(100% * (2 / 12)); } }

.flex-col-xs-3,
.flex-col-sm-3,
.flex-col-md-3,
.flex-col-lg-3 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-3 {
    width: calc(100% * (3 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-3 {
    width: calc(100% * (3 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-3 {
    width: calc(100% * (3 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-3 {
    width: calc(100% * (3 / 12)); } }

.flex-col-xs-4,
.flex-col-sm-4,
.flex-col-md-4,
.flex-col-lg-4 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-4 {
    width: calc(100% * (4 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-4 {
    width: calc(100% * (4 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-4 {
    width: calc(100% * (4 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-4 {
    width: calc(100% * (4 / 12)); } }

.flex-col-xs-5,
.flex-col-sm-5,
.flex-col-md-5,
.flex-col-lg-5 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-5 {
    width: calc(100% * (5 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-5 {
    width: calc(100% * (5 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-5 {
    width: calc(100% * (5 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-5 {
    width: calc(100% * (5 / 12)); } }

.flex-col-xs-6,
.flex-col-sm-6,
.flex-col-md-6,
.flex-col-lg-6 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-6 {
    width: calc(100% * (6 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-6 {
    width: calc(100% * (6 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-6 {
    width: calc(100% * (6 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-6 {
    width: calc(100% * (6 / 12)); } }

.flex-col-xs-7,
.flex-col-sm-7,
.flex-col-md-7,
.flex-col-lg-7 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-7 {
    width: calc(100% * (7 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-7 {
    width: calc(100% * (7 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-7 {
    width: calc(100% * (7 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-7 {
    width: calc(100% * (7 / 12)); } }

.flex-col-xs-8,
.flex-col-sm-8,
.flex-col-md-8,
.flex-col-lg-8 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-8 {
    width: calc(100% * (8 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-8 {
    width: calc(100% * (8 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-8 {
    width: calc(100% * (8 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-8 {
    width: calc(100% * (8 / 12)); } }

.flex-col-xs-9,
.flex-col-sm-9,
.flex-col-md-9,
.flex-col-lg-9 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-9 {
    width: calc(100% * (9 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-9 {
    width: calc(100% * (9 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-9 {
    width: calc(100% * (9 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-9 {
    width: calc(100% * (9 / 12)); } }

.flex-col-xs-10,
.flex-col-sm-10,
.flex-col-md-10,
.flex-col-lg-10 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-10 {
    width: calc(100% * (10 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-10 {
    width: calc(100% * (10 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-10 {
    width: calc(100% * (10 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-10 {
    width: calc(100% * (10 / 12)); } }

.flex-col-xs-11,
.flex-col-sm-11,
.flex-col-md-11,
.flex-col-lg-11 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-11 {
    width: calc(100% * (11 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-11 {
    width: calc(100% * (11 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-11 {
    width: calc(100% * (11 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-11 {
    width: calc(100% * (11 / 12)); } }

.flex-col-xs-12,
.flex-col-sm-12,
.flex-col-md-12,
.flex-col-lg-12 {
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 540px) {
  .flex-col-xs-12 {
    width: calc(100% * (12 / 12)); } }

@media (min-width: 768px) {
  .flex-col-sm-12 {
    width: calc(100% * (12 / 12)); } }

@media (min-width: 992px) {
  .flex-col-md-12 {
    width: calc(100% * (12 / 12)); } }

@media (min-width: 1200px) {
  .flex-col-lg-12 {
    width: calc(100% * (12 / 12)); } }

/*# sourceMappingURL=app.css.map */
.favListe{
  margin-left: 16%;
}
.favListe dd{
  margin-bottom: 10%;
}