$black: #222222;

.left{float: left;}
.hide {display: none;}
body{
  margin: 0;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;


}
#main{
  display: none;
}
nav {
  background: $black;
  padding: 10px 0;
  width: 100%;
  float: left;
  h1 {
    color: #f5f5f5;
  }
  ul {
    margin-top: 25px;
    font-size: 1.5em;
    li {
      display: inline-block;
      margin-right: 5px;
      text-align: right;
      a {
        color: #f3f3f3;
        &:hover {
          border-bottom: 4px;
          color: #737373;
        }
      }
    }
  }
}

#big-input{
  background: #ffffff;
  justify-content: center;
  input{
    padding: 10px 0;
    border:  0px;
    transition: ease-in 0.2s;
    width: 91%;
  }
  &:focus{
    padding: 20px 0;
  }
  i{
    margin-right: 1em;
    width: 2em;
  }
}
article {
  background: linear-gradient(to bottom right, #212b2d, #2f383d);
  color: #ffffff;
  height: 85vh;
  h2{
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
  }
  .year{
    display: block;
  }
}

footer{
  text-align: center;
  background: #222222;
  color: #f3f3f3;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#backhide{
  height: 90vh;
  overflow: hidden;
}
.loader{
  display: none;
  text-align: center;
  margin-top: 8%;
}
.main{
  display: none;
}
.error{
  color: red;
  text-align: center;
}
.error>div>h2{
  padding-top: 8%;
}
